.left-half{
  max-width: 50%;
}

#file-upload{
  text-align: center;
  color: white;
}

#polidecklogowhite{
  margin: auto;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  max-width: 80%;
}

body {
  background: linear-gradient(
    to right, 
    #0B5345 0%, 
    #0B5345 50%, 
    #f5f5f5 50%, 
    #f5f5f5 100%
  );
}