#file-upload{
  text-align: center;
  color: white;
}

/* .outer {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .outer {
  display: flex;
  align-items: center; 
  justify-content: center;
} */